.like-button {
  display: flex;
  justify-content: center;
  
  width: 5rem;
  padding: 10px;

  border: 1px solid #000000;
  border-radius: 5px;

  cursor: pointer;
  user-select: none;
}

.liked {
  font-weight: bold;
}
